@import "tailwindcss";

@font-face {
  font-family: Ubuntu;
  src: url(./assets/Ubuntu-Regular.ttf);
}

.content {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

* input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
